body{
	margin: 0;
	color: #fff;
	background: #0e0e0e;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100px;
	width: 100%;
	background: #111;
	overflow-x: hidden;
	overflow-y: hidden;
}

.navsection a{
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 50px;
	padding: 25px;
	line-height: 100px;
	color: #fff;
	margin: 10px;
}

#pyshare{
	background: linear-gradient(144deg, #2ad1c5, #2a8ad1, #2ad172);
	color: #fff;
}

main{
	margin-top: 100px;
}

.center{
	text-align: center;
}

/* Posts */

.post_list {
	margin: 10px;
	padding-top: 10px;
}

#post_nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#post_nav button {
	background-color: #2587AD;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


#post_nav button:hover {
	background-color: #103C4D;
}

#post_nav .posts_search {
	font-family: inherit;
	border: 0;
	border-bottom: 2px solid #2587AD;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

}

.post_list .filters {
	display: inline;
	padding: 5px;
}

.post_list .filters #latest {
	background-color: #3dc4c2;
}

.post_list ul{
	list-style-type: none;
	padding-left: 0px;
}


.posts {
	background-color: #2a96c11a;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 100px;
	padding: 5px;
	border-color: #2ad1c5;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
}

.posts h3 {
	margin-top: 8px;
}

.posts span {
	display: block;
}

.posts a {
	color: #fff;
}

.posts a:hover {
	color: #5c4696;
}

/* The Posts */
#comments {
	visibility: hidden;
}

#welcome-to-pyshare{
	text-align: center;
}



