body{
	margin: 0;
	color: #fff;
	background: #0e0e0e;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100px;
	width: 100%;
	background: #111;
	overflow-x: hidden;
	overflow-y: hidden;
}

.navsection a{
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 50px;
	padding: 25px;
	line-height: 100px;
	color: #fff;
	margin: 10px;
}

#pyshare{
	background: linear-gradient(144deg, #2ad1c5, #2a8ad1, #2ad172);
	color: #fff;
}

main{
	margin-top: 100px;
}

.center{
	text-align: center;
}

/* Green */
.green_badass_button {
	--green: #1BFD9C;
	font-size: 15px;
	margin: 5px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: inherit;
	border-radius: 0.6em;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--green);
	background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
	color: var(--green);
	box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.green_badass_button:hover {
	color: #82ffc9;
	box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.green_badass_button:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.green_badass_button:hover:before {
	transform: translateX(15em);
}


/* Red */
.red_badass_button {
	--red: #C4352B;
	font-size: 15px;
	margin: 5px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: inherit;
	border-radius: 0.6em;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--red);
	background: linear-gradient(to right, rgba(196, 53, 43, 0.1) 1%, transparent 40%,transparent 60% , rgba(196, 53, 43, 0.1) 100%);
	color: var(--red);
	box-shadow: inset 0 0 10px rgba(196, 53, 43, 0.4), 0 0 9px 3px rgba(196, 53, 43, 0.1);
}

.red_badass_button:hover {
	color: #C94940;
	box-shadow: inset 0 0 10px rgba(196, 53, 43, 0.6), 0 0 9px 3px rgba(196, 53, 43, 0.2);
}

.red_badass_button:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, rgba(196, 53, 43, 0.1) 40%,rgba(196, 53, 43, 0.1) 60% , transparent 100%);
}

.red_badass_button:hover:before {
	transform: translateX(15em);
}

/* Yellow */
.yellow_badass_button {
	--yellow: #EFBB1A;
	font-size: 15px;
	margin: 5px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: inherit;
	border-radius: 0.6em;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--yellow);
	background: linear-gradient(to right, rgba(239, 187, 26, 0.1) 1%, transparent 40%,transparent 60% , rgba(239, 187, 26, 0.1) 100%);
	color: var(--yellow);
	box-shadow: inset 0 0 10px rgba(239, 187, 26, 0.4), 0 0 9px 3px rgba(239, 187, 26, 0.1);
}

.yellow_badass_button:hover {
	color: #F3CF5E;
	box-shadow: inset 0 0 10px rgba(239, 187, 26, 0.6), 0 0 9px 3px rgba(239, 187, 26, 0.2);
}

.yellow_badass_button:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, rgba(239, 187, 26, 0.1) 40%,rgba(239, 187, 26, 0.1) 60% , transparent 100%);
}

.yellow_badass_button:hover:before {
	transform: translateX(15em);
}


/* Twilight class */
.twilight_button {
	border-radius: 0;
	color: rgb(144, 158, 106);
	background: rgb(20, 20, 20);
}

/* Posts */
.post_list {
	margin: 10px;
	padding-top: 10px;
}

#post_nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#post_nav button {
	background-color: #2587AD;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}


#post_nav button:hover {
	background-color: #103C4D;
}

#post_nav .posts_search {
	font-family: inherit;
	border: 0;
	border-bottom: 2px solid #2587AD;
	outline: 0;
	font-size: 1.3rem;
	color: #fff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

}


.post_list .filters {
	display: inline;
	padding: 5px;
}

.post_list .filters #latest {
	background-color: #3dc4c2;
}

.post_list ul{
	list-style-type: none;
	padding-left: 0px;
}


.posts {
	background-color: #2a96c11a;
	margin-top: 10px;
	margin-left: 80px;
	margin-right: 100px;
	padding: 5px;
	border-color: #2ad1c5;
	border-style: solid;
	border-width: 1px;
	border-radius: 6px;
}

.posts h3 {
	margin-top: 8px;
}

.posts span {
	display: block;
}

.posts a {
	color: #fff;
}

.posts a:hover {
	color: #5c4696;
}

/* The Posts */
#comments {
	display: none;
}

#post_discussion_box {
	margin-top: 10px;
	padding: 10px;
	color: rgb(144, 158, 106);
	background: rgb(20, 20, 20);
	border-color: rgb(84, 84, 84);
	border-radius: 10px;
}

/* Create Posts */
.create-title {
	color: #fff;
	font-size: 18px;
	background: rgb(20, 20, 20);
	border-color: rgb(84, 84, 84);
	border-radius: 10px;
	width: 75%;
	height: 35px;
	padding: 5px 10px;
	margin: 8px 5px;
	box-sizing: border-box;
}

.create-submit {
	margin: 10px; 
	position: relative; 
	left: 50%;
	height: 30px;
	width: 66px;
}

#welcome-to-pyshare{
	text-align: center;
}
.signup-box{
    width: 600px;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #252525;
    text-align: center;
    border-radius: 24px;
}
.signup-box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.signup-box input[type = "email"],.signup-box input[type = "text"],.signup-box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.signup-box input[type = "email"]:focus,.signup-box input[type = "text"]:focus,.signup-box input[type = "password"]:focus{
    width: 280px;
    border-color: violet;
}
.signup-box button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #09a036;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box{

    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #252525;
    text-align: center;
    border-radius: 24px;

}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: violet;
}
.box input[type = submit]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #09a036;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = submit]:hover{
    background: #09a036;
}
.box span{
    color: honeydew;
    font-weight: lighter;
}
.box a {
    color: #3498db;
}
.accountbox{
    width: 400px;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #252525;
    text-align: center;
    border: 2px solid #3498db;
    border-radius: 24px;
}
.accountbox h1{
    color: white;
    margin-bottom: 45px;
    text-transform: uppercase;
}
.accountbox p{
    color: white;
    border: 0;
    background: #181818;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.about{
    width: 100%;
    height: 100vh;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;

}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text h1{
    color: #3498db;
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}


