body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #181818;
}
.signup-box{
    width: 600px;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #252525;
    text-align: center;
    border-radius: 24px;
}
.signup-box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.signup-box input[type = "email"],.signup-box input[type = "text"],.signup-box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
}
.signup-box input[type = "email"]:focus,.signup-box input[type = "text"]:focus,.signup-box input[type = "password"]:focus{
    width: 280px;
    border-color: violet;
}
.signup-box button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #09a036;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0,25s;
    cursor: pointer;

}