body{
	margin: 0;
	color: #fff;
	background: #181818;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100px;
	width: 100%;
	background: #111;
	overflow-x: hidden;
	overflow-y: hidden;
}

.navsection a{
	box-sizing: border-box;
	text-decoration: none;
	font-size: 50px;
	padding: 25px;
	line-height: 100px;
	color: #fff;
}

#pyshare{
	background: linear-gradient(144deg, #2ad1c5, #2a8ad1, #2ad172);
	color: #fff;
}

main{
	margin-top: 100px;
}

.center{
	text-align: center;
}

/* Posts */
.post_list {
	margin: 10px;
}

.post_list .filters {
	display: inline;
	padding: 5px;
}

.post_list .filters #latest {
	background-color: #3dc4c2;
}

.post_list ul{
	list-style-type: none;
	padding-left: 0px;
}

.post_list #search_icon{
	color: #000;
	background-color: #3dc4c2;
	cursor: pointer;
}

.posts {
	background: rgba(78, 78, 78, 0.25);
	margin-top: 5px;
}

.posts span {
	display: block;
}

.posts a {
	color: #fff;
}
.posts a:hover {
	color: #5c4696;
}

