{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <section class="about">
        <div class="content">
            <img src="pythonlogo.png">
            <div class="text">
                <h1>About us</h1>
                <h5>Random & text</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
                Reiciendis dignissimos accusamus in mollitia neque officiis expedita minus temporibus tempora provident.<br />
                Blanditiis corrupti aliquid asperiores quae non soluta tempore rem ab.</p>
                <button type="button">Conatact us</button>
            </div>
        </div>
    </section>
{% endblock %}