{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <section class="about">
        <div class="content">
            <img src="{{ url_for('static', filename='img/pythonlogo.png') }}">
            <div class="text">
                <h1>About us</h1>
                <h5>Our mission</h5>
                <p>Learning how to become a great developer is no easy task.
                    Pyshare™ offers you the possibility to learn from developers
                    all over the world and also the chance to help people in need.
                    Our goal is to help you reach the maximum of your capability</p>
                <button type="button" class="green_badass_button">Conatact us</button>
            </div>
        </div>
    </section>
{% endblock %}
