<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylemain.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<title>Pyshare</title>
	</head>
	<body>
		<header>
			<nav class="navsection">
				<a id="pyshare" href="/">Pyshare</a>
				<a id="home" href="/home">Home </a>
				<a id="posts" href="/posts">Posts</a>
				{% if current_user.role == "admin" %}
					<a id="account" href="/account">Account</a>
					<a id="logout" href="/logout">Logout</a>
					<a id="admin" href="/admin">Admin</a>
				{% elif current_user.is_authenticated %}
					<a id="account" href="/account">Account</a>
					<a id="logout" href="/logout">Logout</a>
				{% else %}
					<a id="login" href="/login">Login</a>
					<a id="signUp" href="/signup">Sign-up</a>
				{% endif %}
			</nav>
		</header>
		<main>
			<div class="container">{% block content %} {% endblock %}</div>
		</main>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
