<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		{% block links %}
		{% endblock %}
		<title>Pyshare</title>
	</head>
	<body>
		<header>
			<nav class="navsection center">
				<a id="home" href="/home">Home </a>
				<a id="posts" href="/posts">Posts</a>
				<a id="pyshare" href="/">Pyshare</a>
				<a id="account" href="/account">Account</a>
				{% if current_user.role == "admin" %}
					<a id="account" href="/account">Account</a>
					<a id="logout" href="/logout">Logout</a>
					<a id="admin" href="/admin">Admin</a>
				{% elif current_user.is_authenticated %}
					<nav style="display: none;">
						<a id="account" href="/account">Account</a>
						<a id="logout" href="/logout">Logout</a>
					</nav>
				{% else %}
					<a id="login" href="/login">Login</a>
					<a id="signUp" href="/signup">Sign-up</a>
				{% endif %}
				<a id="about" href="/about">About</a>
			</nav>
		</header>
		<main>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert" >
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="container">{% block content %} {% endblock %}</div>
		</main>
		{% block scripts %}
		{% endblock %}
	</body>
</html>
