<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		{% block links %}
		{% endblock %}
		<title>{% block title %} Pyshare {% endblock %}</title>
	</head>
	<body>
		<nav class="navsection">
			<ul>
				<li><a id="home" href="/home">Home </a></li>
				<li><a id="posts" href="/posts">Posts</a></li>
				<li><a id="pyshare" href="/">Pyshare</a></li>
				<li><a id="account" href="/account">Account</a>
					<ul>
						{% if current_user.role == "admin" %}
							<li><a id="logout" href="/logout">Logout</a></li>
							<li><a id="admin" href="/admin">Admin</a></li>
							<li><a id="account" href="/account">Account</a></li>
						{% elif current_user.is_authenticated %}
							<li><a id="logout" href="/logout">Logout</a></li>
							<li><a id="account" href="/account">Account</a></li>
						{% else %}
							<li><a id="signUp" href="/signup">Sign-up</a></li>
							<li><a id="login" href="/login">Login</a></li>
					{% endif %}
					</ul>
				</li>
				<li><a id="about" href="/about">About</a></li>
			</ul>
		</nav>
		<main>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="alert" >
							<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
							{{ message }}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="container">{% block content %} {% endblock %}</div>
		</main>
		{% block scripts %}
		{% endblock %}
	</body>
</html>

