{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div style="margin: 8px; ">
	<h1 id="welcome-to-pyshare" style="padding-top: 5px;">Welcome to Pyshare </h1>
	<introduction>Tired of searching for answers! You just found the
		right website to help you develop your coding skills without any
		troubles! All you need to do is to describe you problem, give it
		a title and wait for Pyshare to guide you to your answer. However,
		Pyshare will provide you awesome solutions and make coding fun!
	</introduction>
	<summary>
		<h2>Sound-bite</h2>
		<p>PyShare is a website for share coding problems for the community to help out with using a TDD philosophy.</p>
	</summary>
	<article>
		<h2>Pyshare story</h2>
			<h3>The big bang</h3>
				<p>We all know stackoverflow. Stackoverflow was great but as time have gone on the helpers
				have become obsessed with the stackoverflow guidelines. This has lead to developers becomming
				harassed and bulide for wanting help about a area which one is a beginner. Well here at Pyshare
				we recognice that you can't change the internet culture but only how we all interact with the platforms.
				</p>
			<h3>How can we do it better?</h3>
				<p>Pyshare will help your develop your knowledge aroung coding and help buliding up your coding career.
				However, the website will be by your side from the very begining to the last moment of the coding past you chose.
				</p>
		<h2>Developers</h2>
			<ul>
				<li>Albin Thorsson, aka <b>meDracula</b></li>
				<li>Abshir Mohamed, aka <b>Abshir4</b></li>
				<li>Elvir Velagic, aka <b>elvirvelagic</b></li>
				<li>Mohammed Mohammadi, aka <b>Mohammadreza0046</b></li>
			</ul>
	</article>
</div>
{% endblock %}
