{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
	<div class="post_list">
		<div id="post_nav">
			<form method="POST" style="float: left">
				{% if current_user.is_authenticated %}
					<button name="create" value="create">Create Post</button>
				{% endif %}
				<button id="latest" name="latest" value="latest"><i>Latest</i></button>
				<button id="rating" name="rating" value="rating"><i>Rating</i></button>
			</form>
			<form method="POST" style="padding-left: 4px; float: left" >
				<button id="search_icon"><i>Search</i></button>
				<input class="posts_search" type="text" onkeydown="pressEnter(this)" name="search" placeholder="Search.." />
			</form>
		</div>
		<ul>
			{% if posts %}
				{% for post in posts %}
				<li class="posts blue_badass_box">
					<h3><a href="/posts/{{ post.title_hash }}">{{ post.title }}</a></h3>
					<span id="{{ post.title_hash }}">
						{% if current_user.is_authenticated %}
							<form class="rating-form">
							{% if post._id|string in current_user.votes %}
								{% if current_user.votes[ post._id|string ] == 1 %}
									<label for="like-{{ post.title_hash }}">
										<input type="radio" name="like-{{ post.title_hash }}" onclick="upvote(this)" class="like" value="{{ post.title_hash }}" checked/>
										<svg viewBox="0 0 24 24"><path d="M5,9V21H1V9H5M9,21A2,2 0 0,1 7,19V9C7,8.45 7.22,7.95 7.59,7.59L14.17,1L15.23,2.06C15.5,2.33 15.67,2.7 15.67,3.11L15.64,3.43L14.69,8H21C22.11,8 23,8.9 23,10V12C23,12.26 22.95,12.5 22.86,12.73L19.84,19.78C19.54,20.5 18.83,21 18,21H9M9,19H18.03L21,12V10H12.21L13.34,4.68L9,9.03V19Z" /></svg>
									</label>
								{% else %}
									<label for="like-{{ post.title_hash }}">
										<input type="radio" name="like-{{ post.title_hash }}" onclick="upvote(this)" class="like" value="{{ post.title_hash }}" />
										<svg viewBox="0 0 24 24"><path d="M5,9V21H1V9H5M9,21A2,2 0 0,1 7,19V9C7,8.45 7.22,7.95 7.59,7.59L14.17,1L15.23,2.06C15.5,2.33 15.67,2.7 15.67,3.11L15.64,3.43L14.69,8H21C22.11,8 23,8.9 23,10V12C23,12.26 22.95,12.5 22.86,12.73L19.84,19.78C19.54,20.5 18.83,21 18,21H9M9,19H18.03L21,12V10H12.21L13.34,4.68L9,9.03V19Z" /></svg>
									</label>
								{% endif %}
								<p id="rate-{{ post.title_hash }}" style="display: inline;">{{ post.rating }}</p>
								{% if current_user.votes[ post._id|string ] == -1 %}
									<label for="dislike-{{ post.title_hash }}">
										<input type="radio" name="dislike-{{ post.title_hash }}" class="dislike" onclick="downvote(this)" value="{{ post.title_hash }}" checked />
										<svg viewBox="0 0 24 24"><path d="M19,15V3H23V15H19M15,3A2,2 0 0,1 17,5V15C17,15.55 16.78,16.05 16.41,16.41L9.83,23L8.77,21.94C8.5,21.67 8.33,21.3 8.33,20.88L8.36,20.57L9.31,16H3C1.89,16 1,15.1 1,14V12C1,11.74 1.05,11.5 1.14,11.27L4.16,4.22C4.46,3.5 5.17,3 6,3H15M15,5H5.97L3,12V14H11.78L10.65,19.32L15,14.97V5Z" /></svg>
									</label>
								{% else %}
									<label for="dislike-{{ post.title_hash }}">
										<input type="radio" name="dislike-{{ post.title_hash }}" class="dislike" onclick="downvote(this)" value="{{ post.title_hash }}" />
										<svg viewBox="0 0 24 24"><path d="M19,15V3H23V15H19M15,3A2,2 0 0,1 17,5V15C17,15.55 16.78,16.05 16.41,16.41L9.83,23L8.77,21.94C8.5,21.67 8.33,21.3 8.33,20.88L8.36,20.57L9.31,16H3C1.89,16 1,15.1 1,14V12C1,11.74 1.05,11.5 1.14,11.27L4.16,4.22C4.46,3.5 5.17,3 6,3H15M15,5H5.97L3,12V14H11.78L10.65,19.32L15,14.97V5Z" /></svg>
									</label>
								{% endif %}
							{% else %}
								<label for="like-{{ post.title_hash }}">
									<input type="radio" name="like-{{ post.title_hash }}" onclick="upvote(this)" class="like" value="{{ post.title_hash }}" />
									<svg viewBox="0 0 24 24"><path d="M5,9V21H1V9H5M9,21A2,2 0 0,1 7,19V9C7,8.45 7.22,7.95 7.59,7.59L14.17,1L15.23,2.06C15.5,2.33 15.67,2.7 15.67,3.11L15.64,3.43L14.69,8H21C22.11,8 23,8.9 23,10V12C23,12.26 22.95,12.5 22.86,12.73L19.84,19.78C19.54,20.5 18.83,21 18,21H9M9,19H18.03L21,12V10H12.21L13.34,4.68L9,9.03V19Z" /></svg>
								</label>
								<p id="rate-{{ post.title_hash }}" style="display: inline;">{{ post.rating }}</p>
								<label for="dislike-{{ post.title_hash }}">
									<input type="radio" name="dislike-{{ post.title_hash }}" class="dislike" onclick="downvote(this)" value="{{ post.title_hash }}" />
									<svg viewBox="0 0 24 24"><path d="M19,15V3H23V15H19M15,3A2,2 0 0,1 17,5V15C17,15.55 16.78,16.05 16.41,16.41L9.83,23L8.77,21.94C8.5,21.67 8.33,21.3 8.33,20.88L8.36,20.57L9.31,16H3C1.89,16 1,15.1 1,14V12C1,11.74 1.05,11.5 1.14,11.27L4.16,4.22C4.46,3.5 5.17,3 6,3H15M15,5H5.97L3,12V14H11.78L10.65,19.32L15,14.97V5Z" /></svg>
								</label>
							{% endif %}
							</form>
						{% else %}
							Rating {{ post.rating }}
						{% endif %}
					</span>
					<span id="username">By: {{ post.username }}</span>
					<span id="created">Created: {{  post.created.strftime("%Y-%m-%d %H:%M") }}</span>
				</li>
				{% endfor %}
			{% else %}
			<p id="noresult" class="center">Nothing was found</p>
			{% endif %}

		</ul>
	</div>
	<div class="center">
		<span>
		{% if pagecount > 0 %}
			<a href="{{ url_for('bp_open.posters_get', sort_type=sort_type, search_text=search_text, page=pagecount-1 ) }}">Prev</a>
		{% endif %}
		<a href="{{ url_for('bp_open.posters_get', sort_type=sort_type, search_text=search_text, page=pagecount+1) }}">Next</a>
		</span>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/posters.js') }}"></script>
{% endblock %}

