{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
	<form class="signup-box" method="POST">
		<h1>Sign up</h1>
		<input type="email" id="email" name="email" placeholder="Enter email" required/>
		<input type="text" id="username" name="username" placeholder="Enter username" required/>
		<input type="password" id="password1" name="password1" placeholder="Enter password" required/>
		<input type="password" id="password2" onchange="verify_password()" name="password2" placeholder="Confirm password" required/>
		<button type="submit" id="submit" disabled>Submit</button>
	</form>
{% endblock %}

