{% extends "base.html" %}
{% block links %}
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/prismjs/css/prism-twilight.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/codemirror/lib/codemirror.css') }} ">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/codemirror/theme/twilight.css') }} ">
{% endblock %}
{% block title %}Pyshare{% endblock %}
{% block content %}
	<h1 class="center">{{ post.title }}</h1>
	<span id="author" class="center author">
		<b>By: {{ post.username }}</b><br/>
		<i>Created {{ post.created.strftime("%Y-%m-%d %H:%M") }}</i>
	</span>
	<article>
		<h2>Description</h2>
		<p>{{ post.description }}</p>
		<pre><code class="language-python">{{ post.test_code }}</code></pre>
	</article>
	{% if post.comments|length > 0 %}
		{% for comment in post.comments %}
			<span class="author"><b>By: {{ comment.username }}</b></span>
			{{ comment.comment}}
			<br/>
		{% endfor %}
	{% endif %}
	{% if current_user.is_authenticated %}
		<button type="button" class="green_badass_button" onclick="commentToggle()">Write Comment</button>
		<form method="Post" id="comments">
			<fieldset id="post_discussion_box">
				<label for="commenttext">Write:</label>
				<textarea id="editor" name="commenttext"></textarea>
				<button type="submit" name="Post" class="twilight_button" value="true">Submit</button>
			</fieldset>
		</form>
	{% endif %}
	{% if post.solution_codes|length > 0 %}
		<div class="solutioncode">
			<h2>Solutions</h2>
			{% for solution in post.solution_codes %}
				<span class="author"><b>By: {{ solution.username }}</b></span>
				<pre><code class="language-python">{{ solution.solution_code }}</code></pre>
			{% endfor %}
		</div>
	{% endif %}
	{% if current_user.is_authenticated %}
		<form method="Post">
			<button type="submit" class="green_badass_button" name="try" value="True">Try!</button>
			{% if current_user.username == post.username %}
				<button type="submit" class="red_badass_button" name="delete" value="True">Delete Post</button>
			{% endif %}
		</form>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='plugins/prismjs/js/prism-twilight.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/codemirror/lib/codemirror.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/codemirror/mode/markdown/markdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/comments.js') }}" ></script>
	<script>
		let editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
			mode: "markdown",
			theme: "twilight",
		});
	</script>
{% endblock %}

