{% extends "base.html" %}
{% block title %}Pyshare{% endblock %}
{% block content %}
	<h1>Create Post</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form method="POST">
		<input type="text" name="title" placeholder="Title" required></input><br/>
		<textarea name="description">Description</textarea><br/>
		<textarea name="test_code" rows="10" cols="75" required>test.assertEqual(func(), 'Test Code')</textarea><br/>
		<button type="submit">Create!</button>
	</form>
{% endblock %}
