<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/stylemain.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<title>Pyshare</title>
	</head>
	<body>
		<header>
			<nav class="navsection">
				<a id="pyshare" href="/">Pyshare</a>
				<a id="home" href="/">Home </a>
				<a id="login" href="/login">Login</a>
				<a id="signUp" href="/sign-up">Sign-up</a>
				<a id="logout" href="">Logout</a>
				<a id="posts" href="/posts">Posts</a>
			</nav>
		</header>
		<main>
			<div class="container">{% block content %} {% endblock %}</div>
		</main>
	</body>
</html>
