{% extends "index.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <form method="POST">
        <h1 align="center">Login</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username">
        </div>
        <br >
        <div class="form-group">
          <label for="password3">Password</label>
          <input type="password" class="form-control" id="password3" placeholder="Enter password">
        </div>
      </form>
{% endblock %}
